.header {
  @include position(absolute, 0, 0, null, 0, 10);
  padding: 50px 0;
  &-inner {
    @include flex($content: space-between, $items: center);
  }
  &-extra {
    @include flex($items: center);
    margin-right: -24px;
  }
  .logo {
    a {
      display: flex;
    }
    img {
      filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7466%)
        hue-rotate(245deg) brightness(121%) contrast(97%);
    }
  }
  &-cart {
    position: relative;
    padding: 30px 0;
    background-color: map-get($color, 'text');
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 0;
  background-color: map-get($color, 'white');
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s linear;
  & .logo img {
    filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(16%)
    hue-rotate(35deg) brightness(90%) contrast(90%);
  }
  .extra-icon {
    filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(16%)
    hue-rotate(35deg) brightness(90%) contrast(90%);
  }
}
.nav {
  &-menu {
    @include flex($items: center);
    gap: 0 96px;
  }
  &-link {
    color: map-get($color, primary);
    font-size: map-get($font-size, 'md-2');
    font-weight: map-get($font-weight, 'bold');
  }
}
.extra {
  &-item {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-link {
    position: relative;
    @include flex($content: center, $items: center);
    #cart-number {
      position: absolute;
      top: -7px;
      right: -10px;
      
      display: none;
      @include size(20px, 20px);
      color: map-get($color, 'white');
      font-size: map-get($font-size, '2xs');
      border-radius: 100%;
      background-color: map-get($color, secondary);
    }
    #cart-number.cart-active {
      @include flex($content: center, $items: center);
    }
  }
  &-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
      hue-rotate(219deg) brightness(106%) contrast(104%);
  }
  &-control {
    display: none;
    background-color: transparent;
  }
}

@include maxWidth($mobile) {
  .header {
    position: fixed;
    padding: 20px 0;
    background-color: map-get($color, 'white');
    .logo {
      a {
        color: map-get($color, text);
        font-size: map-get($font-size, 'md-2');
        @include size(128px, 32px);
      }
      img {
        @include size(100%, 100%);
        object-fit: cover;
        filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(16%)
          hue-rotate(35deg) brightness(90%) contrast(90%);
      }
    }
    &-extra {
      margin-right: 0;
      #search {
        display: none;
      }
    }
  }
  .nav {
    @include position(
      $namePosition: absolute,
      $top: calc(100% + 15px),
      $left: 50%
    );
    opacity: 0;
    visibility: hidden;
    display: flex;
    @include size(90%, 0);
    transform: translateX(-50%);
    transition: 0.3s linear;
    background: map-get($color, 'white');
    overflow: hidden;
    &-active {
      display: flex;
      visibility: visible;
      opacity: 1;
      height: 200px;
      .nav-menu {
        @include flex(column, center, center);
        gap: 30px 0;
        @include size(100%);
      }
    }
  }
  .extra {
    &-icon {
      @include size(20px, 20px);
      filter: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(16%)
        hue-rotate(35deg) brightness(90%) contrast(90%);
    }
    &-control {
      @include flex($content: center, $items: center);
      @include size(20px, 20px);
      #close {
        display: none;
      }
      #hamburger {
        display: flex;
      }
    }
    &-active {
      #close {
        display: flex;
      }
      #hamburger {
        display: none;
      }
    }
  }
}
